*.1 linguist-vendored
*.2 linguist-vendored
*.Po linguist-vendored
*.m4 linguist-vendored
*Makefile linguist-vendored
*.am linguist-vendored
*.in linguist-vendored
*.ac linguist-vendored
*.status linguist-vendored
configure linguist-vendored
depcomp linguist-vendored
install-sh linguist-vendored
missing linguist-vendored

