# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app
src/mstrie

# XCode files
Debug
mstrie.xcodeproj

# Mac hidden files
.DS_Store

# Backup files
*.swp

# Autotools.gitignore

# http://www.gnu.org/software/automake
ar-lib
mdate-sh
py-compile
test-driver
ylwrap
.deps/
.dirstamp

# http://www.gnu.org/software/autoconf
autom4te.cache
autoscan.log
autoscan-*.log
compile
config.cache
config.guess
config.log
config.status
config.sub
configure~
configure.scan
stamp-h1

# Generated Makefile
# (meta build system like autotools,
# can automatically generate from config.status script
# (which is called by configure script))
Makefile