# cli | benchmark
run_mode = "cli"

default_mstrie_name = "mstrie"

# mstrie configuration
mstrie:
	alphabet_length = "25"
	max_multiplicity = "10"
	mstrie_path = "/Users/nick/Projects/mstrie_implementation/mstrie/src/mstrie.data"

# mstrie_other configuration
mstrie_other:
	alphabet_length = "25"
	max_multiplicity = "10"
	mstrie_path = "/Users/nick/Projects/mstrie_implementation/mstrie/src/mstrie_other.data"



# benchmark configuration
benchmark:
	mstrie_name = "mstrie"
	run:
##### exact_search | subset_search | superset_search
		type = "exact_search"
		test_file = "/Users/nick/Projects/mstrie_implementation/mstrie/src/mstrie_test"
		result_file = "/Users/nick/Projects/mstrie_implementation/mstrie/src/mstrie_result"
